<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Area51</title>
</head>
<body>
    <div id="page">
		
        <div id="header">
        	<h1>Welcome to Area51</h1>
            <h2>Underground Mitz hub.</h2>
            
      </div>
  <div id="bar">
        	<div class="link"><a href="#">todo</a></div>
            <div class="link"><a href="#">todo</a></div>
            <div class="link"><a href="#">todo</a></div>
            <div class="link"><a href="#">todo</a></div>
            <div class="link"><a href="#">todo</a></div>
            <div class="link"><a href="#">todo</a></div>
            <div class="link"><a href="#">todo</a></div>
      </div>
        <div class="contentTitle"><h1>News</h1></div>
        <div class="contentText">
          <p> Coming soon: image gallery! </p>
        </div>
</div>
        <div id="footer"><a href="http://www.bryantsmith.com">theme by bryant smith</a></div>
</body>
</html>
